# =============== #
# Unity generated #
# =============== #
Temp/
Library/


# ============= #
# Binary assets #
# ============= #
Binaries/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
